@use 'styles/page';
@use 'styles/home';


#__next {
  height: 100%;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  color: #111;
  font-family: Montserrat;
  background-color: #fff;
}

pre {
  font-family: "Oxygen Mono";
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
